<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <section class="w-full h-screen flex items-center justify-center bg-neutral-950">
            <div class="w-[50%] m-auto flex gap-6 flex-col">
                
                <div class="flex flex-col items-center gap-3">
                    <h1 class="font-bold uppercase text-5xl text-neutral-50">Resete sua senha</h1>
                    <p class="w-[500px] text-lg text-center text-neutral-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eos ipsam architecto!</p>
                </div>
                <form id="form-reset" action="/resetpassword" method="post" class="flex flex-col justify-center items-center gap-8">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <fieldset class="w-[75%] flex flex-col gap-6">
                        <div class="flex flex-col items-start justify-center">
                            <!-- <label for="email" class="text-neutral-600/75 uppercase text-sm">Informe o seu email</label> -->
                            <div class="relative w-full">
                                <span class="material-symbols-outlined absolute left-3 top-1/2 transform -translate-y-1/2 text-neutral-500">
                                    mail
                                </span>
                                <input
                                type="email"
                                name="email"
                                class="w-full bg-neutral-900 border-2 rounded-xl border-neutral-800 p-4 pl-10 text-neutral-500 placeholder-neutral-500 placeholder-uppercase active:bg-neutral-900"
                                placeholder="E-MAIL"
                            />
                            </div>
                        </div>
                    </fieldset>
                    <div class="flex flex-col justify-center items-center w-full gap-6">
                        <button type="submit" class="bg-primary-600 w-[50%] py-3 text-neutral-50 rounded-lg text-lg font-semibold uppercase">
                            Resetar
                        </button>
                        <div class="flex flex-col items-center gap-1">
                            <a href="/login" class="uppercase text-neutral-600 text-xs">Volte para o login <span class="text-primary-600">AQUI!</span></a>
                            <a href="/" class="uppercase text-neutral-600 text-xs flex items-center gap-1"><span class="material-symbols-outlined">home</span>Voltar ao inicio</a>
                        </div>
                    </div>
                </form>
    
            </div>
        </section>
    </body>
</html>