<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/header') %>

    <section>
        <h2>Formulario de contato</h2>
        <div>
            <div>

            </div>
            <div>
                <form action="" method="post">
                    
                </form>
            </div>
        </div>
    </section>
</body>
</html>