<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/navbar') %>

		<section class="h-[90vh] flex flex-col justify-center items-center">
			<div
				class="w-[80vw] h-[75%] flex justify-between bg-neutral-900 bg-opacity-20 rounded-xl p-10"
			>
				<div
					class="w-[35%] border-r-2 border-neutral-100 border-solid flex flex-col items-center py-4 px-12 justify-between"
				>
					<div class="flex flex-col gap-2">
						<h1
							class="text-[2.8125rem] leading-[3.25rem] font-semibold uppercase text-neutral-100"
						>
							Contato
						</h1>
						<p class="text-base tracking-[0.5px] text-neutral-400">
							Utilize o campo ao lado caso precise entrar em
							contato conosco atraves da plataforma
						</p>
					</div>
					<div>
						<p class="font-medium text-neutral-400 text-sm inline-flex justify-center items-center gap-1">
                            <span class="material-symbols-outlined text-sm">
                                alternate_email
                                </span>
							EMAIL:
							<a href="#" class="text-primary-600 underline"
								>projetotdah@gmail.com</a
							>
						</p>
						<p class="font-medium text-neutral-400 text-sm inline-flex justify-center items-center gap-1">
                            <span class="material-symbols-outlined text-sm">
                                person
                                </span>
							INSTAGRAM:
							<a href="#" class="text-primary-600 underline"
								>@ProjetoTDAH</a
							>
						</p>
						<p class="font-medium text-neutral-400 text-sm inline-flex justify-center items-center gap-1">
                            <span class="material-symbols-outlined text-sm">
                                call
                                </span>
							TEKEFONE:
							<a href="#" class="text-primary-600 underline"
								>19 1234-56789</a
							>
						</p>
					</div>
					<div class="flex flex-row gap-8">
						<button
							class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-xl tracking-[.00714em] text-center font-medium hover:bg-surfacedark-100 focus:bg-surfacedark-200 text-neutral-300"
						>
							settings
						</button>
						<button
							class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-xl tracking-[.00714em] text-center font-medium hover:bg-surfacedark-100 focus:bg-surfacedark-200 text-neutral-300"
						>
							settings
						</button>
						<button
							class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-xl tracking-[.00714em] text-center font-medium hover:bg-surfacedark-100 focus:bg-surfacedark-200 text-neutral-300"
						>
							settings
						</button>
					</div>
				</div>
				<form
					id="form-contact"
					action="/contact"
					method="post"
					class="w-[65%] border-l-2 border-neutral-100 border-solid py-4 px-12"
				>
					<fieldset
						class="w-full h-fit flex flex-col gap-4 justify-center mb-4"
					>
						<div class="relative z-0 input-filled">
							<div class="absolute left-4 top-4 z-10">
								<span class="material-symbols-outlined">
									person
								</span>
							</div>
							<input
								type="text"
								aria-label="inputtext"
								name="contactname"
								id="fcontact-name"
								class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
								placeholder=" "
								value=""
							/>
							<label
								for="fcontact-name"
								class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
								>Nome completo</label
							>
						</div>
						<div class="relative z-0 input-filled">
							<div class="absolute left-4 top-4 z-10">
								<span class="material-symbols-outlined">
									email
								</span>
							</div>
							<input
								type="email"
								aria-label="inputtext"
								name="registeremail"
								id="fregister-email"
								class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
								placeholder=" "
								value=""
							/>
							<label
								for="fregister-email"
								class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
								>Email</label
							>
						</div>
					</fieldset>
					<fieldset
						class="w-full h-fit flex flex-col gap-4 justify-center"
					>
						<div class="flex flex-row gap-4">
							<div class="relative z-0 input-filled w-full">
								<div class="absolute left-4 top-4 z-10">
									<span class="material-symbols-outlined">
										security
									</span>
								</div>
								<select
									name="contactverification"
									id="fcontact-verification"
									class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
									placeholder=" "
								>
									<option value="telephone">Telefone</option>
									<option value="email">Email</option>
								</select>
								<label
									for="fcontact-verification"
									class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
									>Opção de verificação</label
								>
							</div>
							<div class="relative z-0 input-filled w-full">
								<div class="absolute left-4 top-4 z-10">
									<span class="material-symbols-outlined">
										contacts
									</span>
								</div>
								<select
									name="registerphone"
									id="fregister-telephone"
									class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
									placeholder=" "
								>
									<option value="question">Duvida</option>
									<option value="suport">Suporte</option>
									<option value="feedback">Avaliação</option>
								</select>
								<label
									for="fregister-email"
									class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
									>Categoria</label
								>
							</div>
						</div>
					</fieldset>
					<fieldset
						class="w-full h-fit flex flex-col gap-4 justify-center mt-4"
					>
						<div class="relative z-0">
							<textarea
								name="inputtext"
								id="contactmessage"
								class="w-full h-40 max-h-[200px] block leading-5 relative pt-2 px-4 rounded-t text-gray-800 bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:border-primary-600 focus:ring-0 peer"
								placeholder=" "
								value=""
							></textarea>
							<label
								for="contactmessage"
								class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-4 peer-focus:left-4 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
								>Mensagem</label
							>
						</div>
						<button
							type="submit"
							class="w-full btn relative flex flex-row items-center justify-center gap-x-2 py-2.5 px-6 rounded-[6.25rem] hover:shadow-md text-sm tracking-[.00714em] font-medium bg-primary-600 text-white"
						>
							Enviar
						</button>
					</fieldset>
				</form>
			</div>
		</section>
	</body>
</html>
