<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
<body>
    <div class="px-24 bg-neutral-950/25">
        <%- include('partials/navbar') %>
    </div>
    <section class="px-8 py-8 lg:py-16">
        <div class="container mx-auto text-center">
          <h1
            class="text-neutral-50 block antialiased tracking-normal font-sans font-semibold leading-tight text-blue-primary-600 mb-4 !text-3xl lg:!text-5xl"
          >
          Estamos Aqui para Ajudar
          </h1>
          <p
            class="block antialiased font-sans leading-relaxed text-inherit mb-10 font-normal !text-lg lg:mb-20 mx-auto max-w-3xl !text-neutral-500"
          >
          Se você tiver dúvidas sobre nossos serviços, precisar de assistência técnica ou tiver sugestões de melhoria, nossa equipe está pronta para ouvir e ajudar.
          </p>
          <div
            class="grid grid-cols-1 gap-x-12 gap-y-6 lg:grid-cols-2 items-start"
          >
            <img
              src="/image/contact-image.png"
              alt="map"
              class="w-full h-full lg:max-h-[510px] rounded-xl"
            />
            <form action="/contact" method="POST" class="flex flex-col gap-4 lg:max-w-sm">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <p class="block antialiased font-sans text-sm leading-normal text-inherit text-left !font-semibold !text-neutral-600">
                  Selecione uma categoria
              </p>
              <div class="flex gap-4">
                  <label>
                      <input type="radio" name="category" value="Suporte" checked>
                      Suporte
                  </label>
                  <label>
                      <input type="radio" name="category" value="Feedback">
                      Feedback
                  </label>
                  <label>
                      <input type="radio" name="category" value="Duvida">
                      Duvida
                  </label>
              </div>
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <p class="block antialiased font-sans text-sm leading-normal text-inherit mb-2 text-left font-medium !text-primary-600">
                    Primeiro Nome
                  </p>
                  <div class="relative w-full h-11 !min-w-full">
                    <input
                      placeholder="First Name"
                      name="name"
                      class="peer w-full h-full bg-neutral-950/25 font-sans font-normal outline outline-0 focus:outline-0 disabled:bg-blue-neutral-50 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-blue-neutral-200 placeholder-shown:border-t-blue-neutral-200 border-t-neutralbg-neutral-950/25 focus:border-t-neutralbg-neutral-950/25 placeholder:opacity-0 focus:placeholder:opacity-100 text-sm px-3 py-3 rounded-md !border !border-neutral-800 text-primary-600 placeholder:!text-neutral-500 focus:!border-primary-600 focus:!border-2 focus:border-t-primary-600"
                    />
                  </div>
                </div>
                <div>
                  <p class="block antialiased font-sans text-sm leading-normal text-inherit mb-2 text-left font-medium !text-primary-600">
                    Sobrenome
                  </p>
                  <div class="relative w-full h-11 !min-w-full">
                    <input
                      placeholder="Last Name"
                      name="surname"
                      class="peer w-full h-full bg-neutral-950/25 font-sans font-normal outline outline-0 focus:outline-0 disabled:bg-blue-neutral-50 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-blue-neutral-200 placeholder-shown:border-t-blue-neutral-200 border-t-neutralbg-neutral-950/25 focus:border-t-neutralbg-neutral-950/25 placeholder:opacity-0 focus:placeholder:opacity-100 text-sm px-3 py-3 rounded-md !border !border-neutral-800 text-primary-600 placeholder:!text-neutral-500 focus:!border-primary-600 focus:!border-2 focus:border-t-primary-600"
                    />
                  </div>
                </div>
              </div>
              <div>
                <p class="block antialiased font-sans text-sm leading-normal text-inherit mb-2 text-left font-medium !text-primary-600">
                  Email
                </p>
                <div class="relative w-full h-11 !min-w-full">
                  <input
                    placeholder="name@email.com"
                    name="email"
                    class="peer w-full h-full bg-neutral-950/25 font-sans font-normal outline outline-0 focus:outline-0 disabled:bg-blue-neutral-50 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-blue-neutral-200 placeholder-shown:border-t-blue-neutral-200 border-t-neutralbg-neutral-950/25 focus:border-t-neutralbg-neutral-950/25 placeholder:opacity-0 focus:placeholder:opacity-100 text-sm px-3 py-3 rounded-md !border !border-neutral-800 text-primary-600 placeholder:!text-neutral-500 focus:!border-primary-600 focus:!border-2 focus:border-t-primary-600"
                  />
                </div>
              </div>
              <div>
                <p class="block antialiased font-sans text-sm leading-normal text-inherit mb-2 text-left font-medium !text-primary-600">
                  Sua mensagem
                </p>
                <div class="relative w-full !min-w-full">
                  <textarea
                    rows="6"
                    placeholder="Message"
                    name="message"
                    class="peer w-full h-full min-h-[100px] bg-neutral-950/25 font-sans font-normal outline outline-0 focus:outline-0 resize-y disabled:bg-blue-neutral-50 disabled:border-0 disabled:resize-none transition-all placeholder-shown:border placeholder-shown:border-blue-neutral-200 placeholder-shown:border-t-blue-neutral-200 border-t-neutralbg-neutral-950/25 focus:border-t-neutralbg-neutral-950/25 text-sm px-3 py-2.5 rounded-[7px] !resize-none !border !border-neutral-800 text-primary-600 placeholder:!text-neutral-500 focus:!border-primary-600 focus:!border-2 focus:border-t-primary-600"
                    spellcheck="false"
                  ></textarea>
                </div>
              </div>
              <button
                class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-primary-600 text-white shadow-md shadow-primary-600/10 hover:shadow-lg hover:shadow-primary-600/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-primary-600 w-full"
                type="submit"
                data-ripple-light="true"
              >
                Enviar Mensagem
              </button>
            </form>
          </div>
        </div>
      </section>
    <%- include('partials/footer') %>
</body>
</html>