<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
    <div class="px-24 bg-neutral-950/25">
      <%- include('partials/navbar') %>
    </div>
    <section class="relative top-0">
      <div class="w-full px-4">
        <div class="grid h-[90vh] place-items-center">
          <div
            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md max-w-xl"
          >
            <div class="p-6">
              <div class="flex w-full justify-end">
                <button
                  class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                  type="button"
                  data-ripple-dark="true"
                >
                  <a
                    href="/"
                    class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                    ><i class="fas fa-close text-xl" aria-hidden="true"></i
                  ></a>
                </button>
              </div>
              <div class="flex flex-col items-center justify-center">
                <img
                src="/image/Logo500.svg"
                alt=""
                class="h-20 w-30 mx-auto"
              />
                <h4
                  class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900 mb-6 mt-10 text-neutral-800"
                >
                  Erro interno no servidor
                </h4>
                <p
                  class="text-center block antialiased font-sans text-base font-light leading-relaxed text-inherit text-[20px] text-neutral-500"
                >
                Parece que nossos servidores estão um pouco confusos no momento. Não se preocupe, já estamos trabalhando para resolver isso!
                Enquanto isso, você pode tentar recarregar a página ou voltar daqui a pouquinho. Agradecemos sua paciência!
                </p>
                <a
                  class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3.5 px-7 rounded-lg text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-primary-600 gap-3 mt-8"
                  href="/contact"
                  data-ripple-light="true"
                >
                  Entre em contato
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	</body>
</html>
