<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
		<link rel="stylesheet" id="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="" style="background-image: url(/image/Background.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
			<%- include('partials/navbar') %> 
			<%- include('partials/header') %>
		</div>
		<section>
			pedrogay
		</section>
	</body>
</html>
