<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.html') %>
    </head>
    <body>
        <div
            class="px-24"
            style="
                background-image: url(/image/background_one.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            "
        >
        <%- include('partials/navbar.html') %>
            <%- include('partials/header.html') %>
        </div>
        <section
            class="bg-neutral-950/25 px-24 w-full h-[75vh] flex items-center justify-between"
        >
            <div
                class="bg-neutral-200 w-[25vw] h-[75%] flex flex-col items-center rounded-2xl justify-center gap-4 px-8 hover:animate-slide-fwd-center"
            >
                <span
                    class="material-symbols-outlined p-5 text-5xl bg-neutral-300 rounded-full"
                >
                    task_alt
                </span>
                <div class="flex items-center flex-col">
                    <h3 class="text-2xl font-semibold">Lorem Ipsum</h3>
                    <p class="text-center font-normal text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Enim eos animi, nobis eveniet nam iusto totam illo
                        tempore quos cum maxime.
                    </p>
                </div>
            </div>

            <div
                class="bg-neutral-200 w-[25vw] h-[75%] flex flex-col items-center rounded-2xl justify-center gap-4 px-8"
            >
                <span
                    class="material-symbols-outlined p-5 text-5xl bg-neutral-300 rounded-full"
                >
                accessibility
                </span>
                <div class="flex items-center flex-col">
                    <h3 class="text-2xl font-semibold">Lorem Ipsum</h3>
                    <p class="text-center font-normal text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Enim eos animi, nobis eveniet nam iusto totam illo
                        tempore quos cum maxime.
                    </p>
                </div>
            </div>

            <div
                class="bg-neutral-200 w-[25vw] h-[75%] flex flex-col items-center rounded-2xl justify-center gap-4 px-8"
            >
                <span
                    class="material-symbols-outlined p-5 text-5xl bg-neutral-300 rounded-full"
                >
                calendar_today
                </span>

                <div class="flex items-center flex-col">
                    <h3 class="text-2xl font-semibold">Lorem Ipsum</h3>
                    <p class="text-center font-normal text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Enim eos animi, nobis eveniet nam iusto totam illo
                        tempore quos cum maxime.
                    </p>
                </div>
            </div>
        </section>
        <section class="h-screen w-full px-24 flex items-center bg-neutral-900">
            <div class="flex flex-row justify-center items-start gap-8">
                <img src="/image/about-image.png" alt="" />
                <div class="flex flex-col gap-6">
                    <h2
                        class="text-5xl uppercase font-semibold text-neutral-50"
                    >
                        About Me
                    </h2>
                    <div>
                        <p class="text-neutral-300 font-normal text-lg">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Est quidem ipsum, harum dolores error debitis
                            illo voluptas nobis, perferendis fugiat dolorem,
                            beatae fuga commodi enim quo recusandae asperiores
                            voluptatum ad.
                        </p>
                        <p class="text-neutral-300 font-normal text-lg">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Saepe cumque cupiditate amet voluptatibus
                            exercitationem repellendus asperiores, delectus
                            similique omnis veritatis, eum possimus odio ab
                            dolores, natus minus vel perspiciatis praesentium!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="relative isolate overflow-hidden bg-neutral-950/25 px-6 py-24 sm:py-32 lg:px-8">
            <div class="mx-auto max-w-2xl lg:max-w-4xl">
              <img class="mx-auto h-12" src="/image/Logo1.png" alt="">
              <figure class="mt-10">
                <blockquote class="text-center text-xl font-semibold leading-8 text-neutral-50 sm:text-2xl sm:leading-9">
                  <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”</p>
                </blockquote>
                <figcaption class="mt-10">
                  <img class="mx-auto h-10 w-10 rounded-full" src="/image/avatars/1.png" alt="">
                  <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div class="font-semibold text-neutral-50">Judith Black</div>
                    <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
                      <circle cx="1" cy="1" r="1" />
                    </svg>
                    <div class="text-neutral-300">CEO of Workcation</div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </section>
          <%- include('partials/footer.html') %>
    </body>
</html>