<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
		<link rel="stylesheet" id="stylesheet" href="/css/styles.css">
	  </head>
	<body class="">
		<%- include('partials/navbar') %>

		<script type="required" src="../firebase/functions/login.js"></script>
		<script src="/js/hiddeButtons.js"></script>
	</body>
</html>