<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" id="stylesheet" href="/css/styles.css" />
    <meta name="csrf-token" content="<%= csrfToken %>">
</head>
<body>
    <div class="" style="background-image: url(/image/background_one.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <%- include('partials/navbar') %> 
        <%- include('partials/header') %>
    </div>
    <section>
        <div class="flex justify-center items-center h-screen">
            <div class="bg-neutral-900 p-6 w-full max-w-[950px] rounded-lg text-center">
                <h2 class="text-7xl leading-[4rem] font-extrabold pb-4 uppercase text-neutral-100">Sobre Nós</h2>
                <img class="float-right w-[400px] rounded-lg" src="/image/livroamarelo.jpg" alt="">
                <p class="text-lg tracking-[0.5px] text-neutral-500">Lorem ipsum dolor sit amet consectetur adipisicing elit.<a class="underline decoration-primary-600 font-bold text-neutral-400">pedrogay</a> Est, alias perspiciatis velit ducimus dolorum exercitationem excepturi ea fuga dicta labore quibusdam aperiam quidem porro aliquid harum iusto libero unde aspernatur?
                    Lorem ipsum <a class="underline decoration-primary-600 font-bold text-neutral-400">ameixa</a> sit amet consectetur adipisicing elit. Dolorem in magni repudiandae pariatur. Magni, cum. Nostrum error deserunt voluptas cupiditate soluta illo culpa <a class="underline decoration-primary-600 font-bold text-neutral-400">#peidei</a> quae, aliquid dolore suscipit tempora quam rem!
                </p>
            </div>
        </div>
    </section>
</body>
</html>