<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('src/views/partials/head', { title: 'Título da Página' }) %>
		<link href="/css/styles.css" rel="stylesheet">
	  </head>
	<body class="bg-neutral-900">
		<%- include('partials/navbar') %>

		<!-- <% if (query.loginSuccess) { %>
			<p>Login realizado com sucesso!</p>
		<% } %>

		<% if (registerSuccessMessage) { %>
			<p><%= registerSuccessMessage %></p>
		<% } %> -->

		<script type="required" src="../firebase/functions/login.js"></script>

	</body>
</html>
