<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
		<link rel="stylesheet" id="stylesheet" href="/css/styles.css">
	  </head>
	<body class="">
		<div class="">
			<%- include('partials/navbar') %>
			<%- include('partials/main') %>
		</div>
	</body>
</html>