<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.html') %>
    </head>
<body class="bg-neutral-900 font-sans" >
    <%- include('partials/navbar.html') %>
    <%- body %>
    <script src="/js/tailmater.js"></script>
    <%- include('partials/footer.html') %>
</body>
</html>