<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { styles: styles }) %>
</head>
<body class="bg-neutral-950 font-sans" >
    <%- body %>
    <script src="/js/tailmater.js"></script>
</body>
</html>