<footer class="static bottom-0 w-full text-white">
    <div class="bg-neutral-800 h-80">

        <div class="inline-flex h-[20%] items-center px-24 w-full">
            <div class="flex items-center justify-between w-full">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

                <ul class="flex space-x-4 w-">
                    <li><a href="#" class="hover:text-gray-400"><i class="fab fa-facebook-f w-12"></i></a></li>
                    <li><a href="#" class="hover:text-gray-400"><i class="fab fa-twitter w-12"></i></a></li>
                    <li><a href="#" class="hover:text-gray-400"><i class="fab fa-instagram w-12"></i></a></li>
                    <li><a href="#" class="hover:text-gray-400"><i class="fab fa-youtube w-12"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="flex bg-neutral-950 h-[65%] items-center justify-center">
            <div class="flex items-center justify-between w-full h-full px-24">
                <div class="w-96">
                    <h3 class="pb-5 font-bold text-xl">vo nada</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="flex-col">
                    <h3 class="text-xl font-bold">header 1</h3>
                    <ul class="list-none space-y-1">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                </div>

                <div class="flex-col">    
                    <h3 class="text-xl font-bold">header 2</h3>
                    <ul class="list-none space-y-1">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                </div>

                <div class="flex-col">
                    <h3 class="text-xl font-bold">header 3</h3>
                    <ul class="list-none space-y-1">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                </div>
                    
            </div>

        </div>

        <div class="flex bg-neutral-900 text-center h-[15%] items-center justify-center">
            <p>@<a class="font-bold">pedromuitogay</a>. Todos os direitos reservados.</p>
        </div>

    </div>
</footer>