<form id="form-register" action="/register" method="post">
    <fieldset>
        c
        <legend>Register</legend>
        <label for="fregister-name">Email:</label><br> 
        <input type="email" name="email" id="fregister-name" required><br>
        <label for="fregister-password">Senha:</label><br>
        <input type="password" name="password" id="fregister-password" required><br>
        <button type="submit">Registrar</button>
    </fieldset>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p><%= errorMessage %></p>
    <% } %>
</form>