<nav
	class="flex text-neutral-100 justify-between items-center uppercase gap-24 h-[10vh] w-full px-24"
>
	<a href="/" class="flex items-center gap-4 w-fit px-8">
		<img
			src="/image/Logo2.png"
			alt="Logo"
			width="48px"
			class="rounded-full"
		/>
		<h2 class="font-bold text-2xl">Projeto TDAH</h2>
	</a>
	<div class="w-fit flex flex-row justify-end items-center gap-10">
		<div class="inline-flex gap-4 items-center">
			<a href="/" class="text-neutral-50 font-light text-sm hover:bg-neutral-600/10 px-2 py-2 transition duration-300 rounded">Home</a>
			<a href="/" class="text-neutral-50 font-light text-sm hover:bg-neutral-600/10 px-2 py-2 transition duration-300 rounded">About</a>
			<a href="/" class="text-neutral-50 font-light text-sm hover:bg-neutral-600/10 px-2 py-2 transition duration-300 rounded">Feedback</a>
			<a href="/contact" class="text-neutral-50 font-light text-sm hover:bg-neutral-600/10 px-2 py-2 transition duration-300 rounded">Contact</a>
		</div>
		<div class="flex justify-end gap-4 items-center">
			<a href="/login" class="text-primary-600 font-medium text-[15px] px-4 rounded-lg py-1 inline-flex gap-2 justify-center items-center transition duration-300 hover:bg-neutral-50 hover:scale-110">
				<span class="material-symbols-outlined">
					login
					</span>
				Login
			</a>
			<a href="/register" class="text-primary-600 font-medium text-[15px] px-4 rounded-lg py-1 inline-flex gap-2 justify-center items-center transition duration-300 hover:bg-neutral-50 hover:scale-110">
				<span class="material-symbols-outlined">
					account_circle
					</span>
				Register
			</a>
		</div>
	</div>
</nav>
<script src="/js/animations/hiddeButtons.js"></script>
