<nav
	class="flex text-neutral-100 justify-between items-center uppercase gap-24 h-[10vh] w-full"
>
	<a href="/" class="flex items-center gap-4 w-fit px-8">
		<img
			src="/image/Logo1.svg"
			alt="Logo"
			width="48px"
			class="rounded-full"
		/>
		<h2 class="font-bold text-2xl">Projeto TDAH</h2>
	</a>
	<div class="w-fit flex flex-row justify-end items-center gap-10">
		<div class="inline-flex gap-4 items-center">
			<a href="/" class="text-neutral-200 font-light text-sm hover:scale-105 px-2 py-2 transition duration-300 rounded active:scale-75 active:bg-none">Pagina Inicial</a>
			<a href="/#about" class="text-neutral-200 font-light text-sm hover:scale-105 px-2 py-2 transition duration-300 rounded active:scale-75 active:bg-none">Sobre-nós</a>
			<a href="/#team" class="text-neutral-200 font-light text-sm hover:scale-105 px-2 py-2 transition duration-300 rounded active:scale-75 active:bg-none">Equipe</a>
			<a href="/contact" class="text-neutral-200 font-light text-sm hover:scale-105 px-2 py-2 transition duration-300 rounded active:scale-75 active:bg-none">Contato</a>
		</div>
		<div class="flex justify-end gap-4 items-center" id="containerNotLogged" aria-hidden="false">
			<a href="/login" class="text-primary-600 font-medium text-[15px] px-4 rounded-lg py-1 inline-flex gap-2 justify-center items-center transition duration-300 hover:scale-110 hover:text-neutral-50 active:scale-75 active:bg-none">
				<span class="material-symbols-outlined">login</span>
				Login
			</a>
			<a href="/register" class="text-neutral-50 bg-primary-600 font-medium text-[15px] px-4 rounded-lg py-1 inline-flex gap-2 justify-center items-center transition duration-300 hover:scale-110 hover:text-neutral-50 active:scale-75 active:bg-none">
				<span class="material-symbols-outlined">account_circle</span>
				Register
			</a>
		</div>
		<div class="hidden justify-end gap-4 items-center" id="containerLogged" aria-hidden="true">
			<a href="/dashboard" class="text-primary-600 font-medium text-[15px] px-4 rounded-lg py-1 inline-flex gap-2 justify-center items-center transition duration-300 hover:scale-110 hover:text-neutral-50 active:scale-75 active:bg-none">
				<span class="material-symbols-outlined">
					dashboard
					</span>
					Dashboard
			</a>
			<a href="/logout" class="text-neutral-50 bg-error-600 font-medium text-[15px] px-4 rounded-lg py-1 inline-flex gap-2 justify-center items-center transition duration-300 hover:scale-110 hover:text-neutral-50 active:scale-75 active:bg-none">
				<span class="material-symbols-outlined">logout</span>
				Logout
			</a>
		</div>
	</div>
</nav>
<script src="/js/animations/hiddeButtons.js"></script>
