<nav class="flex text-neutral-100 justify-between mx-12 my-4 items-center uppercase">
    <div class="flex items-center gap-4">
        <img  src="/image/Logo.png" alt="Logo" width="48px">
        <h2 class="font-medium text-xl">Projeto TDAH</h2>
    </div>
    <div class="inline-flex gap-5 font-normal ">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="inline-flex gap-6">
        <a href="/login" id="linkLogin" class="px-8 py-1 rounded-xl bg-transparent border-neutral-50 border-solid border-2 font-medium" >Login</a>
        <a href="/register" id="linkRegister" class="px-8 py-1 rounded-xl bg-amber-700 font-medium">Registre-se</a>
    </div>
</nav>