<nav
	class="flex text-neutral-100 justify-center items-center uppercase gap-24 h-[10vh]"
>
	<a href="/" class="flex items-center gap-4 w-fit px-8">
		<img
			src="/image/Logo2.png"
			alt="Logo"
			width="48px"
			class="rounded-full"
		/>
		<h2 class="font-medium text-xl">Projeto TDAH</h2>
	</a>
	<div class="inline-flex gap-2 font-normal w-fit px-8 relative left-12">
		<a
			href="/"
			class="hover:bg-neutral-800 bg-opacity-50 transition duration-500 ease-in-out py-2 px-4"
			>Home</a
		>
		<a
			href="#"
			class="hover:bg-neutral-800 bg-opacity-50 transition duration-500 ease-in-out py-2 px-4"
			>About</a
		>
		<a
			href="/contact"
			class="hover:bg-neutral-800 bg-opacity-50 transition duration-500 ease-in-out py-2 px-4"
			>Contact</a
		>
	</div>
	<div class="inline-flex gap-4 w-fit px-8" id="ContainerNotLogged">
		<a
			href="/login"
			class="cursor-pointer relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-neutral-100 hover:text-primary-600 rounded-md px-5 h-11"
		>
			<span
				class="material-symbols-outlined lucide lucide-rocket text-primary-600"
			>
				login
			</span>
			Login
		</a>
		<a
			href="/register"
			class="cursor-pointer relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-neutral-100 hover:text-primary-600 rounded-md px-5 h-11"
		>
			<span
				class="material-symbols-outlined lucide lucide-rocket text-primary-600"
			>
				account_circle
			</span>
			Register
		</a>
	</div>
	<div class="inline-flex gap-4 w-fit px-8" id="ContainerLogged">
		<a
			href="/dashboard"
			class="cursor-pointer relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-neutral-100 hover:text-primary-600 h-9 rounded-md px-5 h-11"
		>
			<span
				class="material-symbols-outlined lucide lucide-rocket text-primary-600"
			>
				dashboard
			</span>
			Painel do usuario
		</a>
		<a
			href="/logout"
			class="cursor-pointer relative inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-neutral-100 hover:text-error-600 h-9 rounded-md px-5 h-11"
		>
			<span
				class="material-symbols-outlined lucide lucide-rocket text-error-600"
			>
				logout
			</span>
			Sair
		</a>
	</div>
</nav>
<script src="/js/animations/hiddeButtons.js"></script>
