<nav class="flex flex-col h-screen px-4 py-6 bg-neutral-900/50 w-[8vw] justify-between items-center relative 2xl:px-2">
    <a href="/" class="flex items-center">
		<img
			src="/image/Logo1.svg"
			alt="Logo"
			class="rounded-full w-12 h-12 2xl:w-16 2xl:h-16"
		/>
	</a>
    <div class="flex flex-col gap-4 text-lg text-neutral-200 2xl:text-3xl 2xl:gap-6">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <a href="/agenda"><i class="fa-solid fa-calendar-days"></i></a>
        <a href="/taks"><i class="fa-solid fa-list-check"></i></a>
        <a href="/" class="cursor-default"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <a href="" class="text-2xl text-neutral-200 2xl:text-4xl">
        <i class="fa-solid fa-circle-user"></i>
    </a>
</nav>