<section class="min-h-screen py-8 px-24 lg:py-28 bg-neutral-950/25">
    <div class="container mx-auto">
      <div class="mb-16 text-center lg:mb-28">
        <h6
          class="block antialiased tracking-normal font-sans font-semibold leading-relaxed text-primary-600 text-lg"
        >
          Conheça o nosso time
        </h6>
        <h1
          class="block antialiased tracking-normal font-sans font-semibold leading-tight text-neutral-50 my-2 !text-2xl lg:!text-4xl"
        >
        Impulsionando o Progresso: Movidos pela Nossa Equipe Apaixonada
        </h1>
        <p
          class="block antialiased font-sans text-xl font-normal leading-relaxed text-inherit mx-auto w-full !text-neutral-500 max-w-4xl"
        >
        Com liderança visionária, talento criativo e especialistas técnicos, cada membro da equipe é essencial para oferecer um serviço excepcional e soluções inovadoras.
        </p>
      </div>
      <div
        class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4"
      >
        <div
          class="relative flex flex-col bg-clip-border text-gray-700 rounded-lg bg-[#FAFAFA]"
        >
          <div class="p-6 text-center">
            <img
              src="/image/avatars/avatar-pedro.svg"
              alt="Ryan Samuel"
              class="inline-block relative object-cover !rounded-full w-[110px] h-[110px] mx-auto mb-6 object-top"
            />
            <h5
              class="block antialiased tracking-normal font-sans leading-snug text-blue-gray-900 !font-medium text-lg"
            >
              Pedro Missola
            </h5>
            <p
              class="block antialiased font-sans leading-relaxed mb-2 !text-base !font-semibold text-gray-600"
            >
            Gerente de Projetos e Desenvolvedor Back-end
            </p>
            <div class="flex items-center justify-center gap-1.5">
              <a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="https://www.instagram.com/missolapedro/"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-instagram text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="https://www.linkedin.com/in/pedro-missola-a6b072212/"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-linkedin text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="https://github.com/MissolaPedro"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-github text-lg"
                    aria-hidden="true"
                  ></i
                ></span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col bg-clip-border text-gray-700 rounded-lg bg-[#FAFAFA]"
        >
          <div class="p-6 text-center">
            <img
              src="/image/avatars/avatar-heitor.svg"
              alt="Ryan Samuel"
              class="inline-block relative object-cover !rounded-full w-[110px] h-[110px] mx-auto mb-6 object-top"
            />
            <h5
              class="block antialiased tracking-normal font-sans leading-snug text-blue-gray-900 !font-medium text-lg"
            >
              Heitor Cabral
            </h5>
            <p
              class="block antialiased font-sans leading-relaxed mb-2 !text-base !font-semibold text-gray-600"
            >
            Desenvolvedor Front-end
            </p>
            <div class="flex items-center justify-center gap-1.5">
              <a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-instagram text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-linkedin text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-github text-lg"
                    aria-hidden="true"
                  ></i
                ></span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col bg-clip-border text-gray-700 rounded-lg bg-[#FAFAFA]"
        >
          <div class="p-6 text-center">
            <img
              src="/image/avatars/avatar-jhouw.svg"
              alt="Nora Hazel"
              class="inline-block relative object-cover !rounded-full w-[110px] h-[110px] mx-auto mb-6 object-top"
            />
            <h5
              class="block antialiased tracking-normal font-sans leading-snug text-blue-gray-900 !font-medium text-lg"
            >
              Jhonata Adriano
            </h5>
            <p
              class="block antialiased font-sans leading-relaxed mb-2 !text-base !font-semibold text-gray-600"
            >
            Desenvolvedor Full-stack
            </p>
            <div class="flex items-center justify-center gap-1.5">
              <a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-instagram text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-linkedin text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-github text-lg"
                    aria-hidden="true"
                  ></i
                ></span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col bg-clip-border text-gray-700 rounded-lg bg-[#FAFAFA]"
        >
          <div class="p-6 text-center">
            <img
              src="/image/avatars/avatar-Ariane.svg"
              alt="Otto Gonzalez"
              class="inline-block relative object-cover !rounded-full w-[110px] h-[110px] mx-auto mb-6 object-top"
            />
            <h5
              class="block antialiased tracking-normal font-sans leading-snug text-blue-gray-900 !font-medium text-lg"
            >
              Ariane Monteiro
            </h5>
            <p
              class="block antialiased font-sans leading-relaxed mb-2 !text-base !font-semibold text-gray-600"
            >
            Autora Técnica e Redatora
            </p> 
            <div class="flex items-center justify-center gap-1.5">
              <a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-instagram text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-linkedin text-lg"
                    aria-hidden="true"
                  ></i
                ></span></a
              ><a
                class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20"
                href="#"
                target="_blank"
                data-ripple-dark="true"
              >
                <span
                  class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  ><i
                    class="fa-brands fa-github text-lg"
                    aria-hidden="true"
                  ></i
                ></span>
              </a>
            </div>
          </div>
        </div>
        </div>
        </div>
  </section>