<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="bg-neutral-950 flex flex-row">
        <%- include('../partials/sidebar') %>
        <section class="px-24 flex flex-col gap-6 h-screen w-[92vw] py-12">
            <div class="flex flex-row justify-between text-neutral-50">
                <h2 class="text-4xl font-bold">AGENDA</h2>
                <button class="border-2 rounded-lg py-2 px-4 inline-flex gap-2 items-center">
                    <i class="fa-solid fa-arrow-down"></i>
                  Dia da semana 
                </button>
            </div>
            <div class="w-[100%]">
                <div class="w-[3%]"></div>
                <section class="flex-col w-[97%] gap-3">

                    <div class="flex-col bg-neutral-900 h-fit rounded-lg w-full mb-8">
                        <div class="group cursor-pointer group-hover:hiden">
                        <div class="inline-flex justify-between items-center py-6 px-8 text-neutral-50 uppercase w-full">
                            <div class="inline-flex items-center gap-2">
                                <img src="/image/icones/sun.svg" alt="" class="w-12">
                                <h2 class="text-2xl">manhã</h2>
                            </div>
                            <h3 class="text-xl">09:00h - 12:00h</h3>
                        </div>
                        
                        <div class=" hidden group-hover:block mt-2"> 
                        <div class="w-full flex items-center justify-center">
                            <hr class="w-[95%]">
                        </div>
                        <div class="flex">
                            <div class="flex-col text-gray-50 p-5">
                                <span class="flex"><h3 class="text-primary-600">09:00h: </h3> <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">09:30h: </h3> <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">10:00h: </h3> <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">10:30h: </h3> <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">11:00h: </h3> <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">11:30h: </h3> <p>Matemática</p></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>  
                    <div class="flex-col bg-neutral-900 h-fit rounded-lg w-full mb-8">
                        <!--<div class="group cursor-pointer group-hover:hiden">-->
                        <div class="inline-flex justify-between items-center py-6 px-8 text-neutral-50 uppercase w-full">
                            <div class="inline-flex items-center gap-2">
                                <img src="/image/icones/cup.svg" alt="" class="w-12">
                                <h2 class="text-2xl">tarde</h2>
                            </div>
                            <h3 class="text-xl">14:00h - 18:00h</h3>
                        </div>
                        <!-- <div class=" hidden group-hover:block mt-2"> -->
                        <div class="w-full flex items-center justify-center">
                            <hr class="w-[95%]">
                        </div>
                        <div class="flex">
                            <div class="flex-col text-gray-50 p-5">
                                <span class="flex"><h3 class="text-primary-600">14:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">14:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">15:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">15:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">16:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">16:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">17:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">17:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">18:00h:</h3>
                                <p>Matemática</p></span>
                            </div>
                        </div>
                    </div>
                <!-- </div> --> 
            <!-- </div> --> 
    
                    <div class="flex-col bg-neutral-900 h-fit rounded-lg w-full mb-8">
                        <!--<div class="group cursor-pointer group-hover:hiden">-->
                        <div class="inline-flex justify-between items-center py-6 px-8 text-neutral-50 uppercase w-full">
                            <div class="inline-flex items-center gap-2">
                                <img src="/image/icones/moon.svg" alt="" class="w-12">
                                <h2 class="text-2xl">noite</h2>
                            </div>
                            <h3 class="text-xl">18:00h - 23:00h</h3>
                    </div>
                    <!--<div class=" hidden group-hover:block mt-2">-->
                        <div class="w-full flex items-center justify-center">
                            <hr class="w-[95%]">
                        </div>
                        <div class="flex">
                            <div class="flex-col text-gray-50 p-5">
                                <span class="flex"><h3 class="text-primary-600">18:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">18:30h:</h3>
                                <p >Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">19:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">19:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">20:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">20:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">21:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">21:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">22:00h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">22:30h:</h3>
                                <p>Matemática</p></span>
                                <span class="flex"><h3 class="text-primary-600">23:00h:</h3>
                                <p>Matemática</p></span>
                            </div>
                        </div>
                    </div>
               <!-- </div> --> 
            <!-- </div> -->
                </section>
            </div>
        </section>
    </main>
</body>
</html>