<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="bg-neutral-950 flex flex-row">
        <%- include('../partials/sidebar') %>
        <section class="px-24 flex flex-col h-screen w-[92vw] gap-6 py-12">
            <!--faaaalaaa sinissstrooo-->
            <div class="flex flex-row justify-between text-neutral-50">
                <div class="flex-col">
                    <h2 class="text-4xl font-bold">ORGANIZADOR DE TAREFAS</h2>
                    <p>Escolha quando você deseja estudar e quais matérias</p>
                </div>
                <button class="border-2 rounded-lg py-2 px-4 inline-flex gap-2 items-center">
                    <i class="fa-solid fa-arrow-down"></i>
                  Dia da semana 
                </button>
            </div>
            <div class="flex justify-between text-neutral-50"> 

                <div class="w-[40%]">
                    <form class=" flex flex-col w-full">
                        <select class="flex w-full bg-neutral-900 h-full p-4 rounded-lg border-2 border-neutral-800 text-center">
                            <option class="">Períodos de estudo</option>
                            <option class="">Manhã</option>
                            <option class="">Tarde</option>
                            <option class="">Noite</option>
                        </select>
                    </form>
                    <div class="grid grid-cols-2 justify-beetwen w-full">
                        <div class="flex justify-beetwen">
                            <button class="border-2 border-neutral-800 rounded-lg py-2 px-4 inline-flex gap-2 items-center bg-neutral-900 text-neutral-50">
                                <p class="text-neutral-50">08:00h - 08:30h</p>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="flex justify-beetwen">
                            <button class="border-2 border-neutral-800 rounded-lg py-2 px-4 inline-flex gap-2 items-center bg-neutral-900 text-neutral-50">
                                <p class="text-neutral-50">08:00h - 08:30h</p>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="flex justify-beetwen">
                            <button class="border-2 border-neutral-800 rounded-lg py-2 px-4 inline-flex gap-2 items-center bg-neutral-900 text-neutral-50">
                                <p class="text-neutral-50">08:00h - 08:30h</p>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="flex justify-beetwen">
                            <button class="border-2 border-neutral-800 rounded-lg py-2 px-4 inline-flex gap-2 items-center bg-neutral-900 text-neutral-50">
                                <p class="text-neutral-50">08:00h - 08:30h</p>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="flex justify-beetwen">
                            <button class="border-2 border-neutral-800 rounded-lg py-2 px-4 inline-flex gap-2 items-center bg-neutral-900 text-neutral-50">
                                <p class="text-neutral-50">08:00h - 08:30h</p>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div class="flex justify-beetwen">
                            <button class="border-2 border-neutral-800 rounded-lg py-2 px-4 inline-flex gap-2 items-center bg-neutral-900 text-neutral-50">
                                <p class="text-neutral-50">08:00h - 08:30h</p>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="w-[40%]">
                    <form class="flex-col w-full text-center">
                        <select class="appearance-none w-full bg-neutral-900 h-full p-4 rounded-lg">
                            <option selected class="appearance-none">Área de estudo</option>
                                <img src="/image/icones/task.svg" alt="" class="w-8">
                                <option class="appearance-none">Matemática</option>
                                <option class="appearance-none">Português</option>
                                <option class="appearance-none">Geografia</option>
                                <option class="appearance-none">História</option>
                                <option class="appearance-none">Quimica</option>
                                <option class="appearance-none">Biologia</option>
                                <option class="appearance-none">Sociologia</option>
                                <option class="appearance-none">Filosofia</option>
                        </select>
                    </form>
                    <div class="m-8 flex justify-beetwen">
                        Geometria 
                        </div>
                         <!--funçôes
                        Baskhara
                        Pitagoras
                        Aritimeticas
                        Analise Combinatorias -->
                    </div>
                </div>
        </section>
    </main>
</body>
</html>