<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="bg-neutral-950 flex flex-row">
        <%- include('../partials/sidebar') %>
        <section class="px-24 flex flex-col h-screen w-[92vw] gap-6 py-12">
            <!--faaaalaaa sinissstrooo-->
            <div class="flex flex-row justify-between text-neutral-50">
                <div class="flex-col">
                    <h2 class="text-4xl font-bold">ORGANIZADOR DE TAREFAS</h2>
                    <p>Escolha quando você deseja estudar e quais materiais</p>
                </div>
                <button class="border-2 rounded-lg py-2 px-4 inline-flex gap-2 items-center">
                    <i class="fa-solid fa-arrow-down"></i>
                  Dia da semana 
                </button>
            </div>
            <div>

            </div>
        </section>
    </main>
</body>
</html>