<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <style>

        input[type="time"]::-webkit-calendar-picker-indicator {
        
        display: none;
        
        }
        
    </style>

    <main class="bg-neutral-950 flex flex-row">
        <%- include('../partials/sidebar') %>
        <section class="px-24 flex flex-col h-screen w-[92vw] gap-6 py-12">
            <div class="flex flex-row justify-between text-neutral-50">
                <div class="flex-col">
                    <h2 class="text-4xl font-bold">ORGANIZADOR DE TAREFAS</h2>
                    <p>Escolha quando você deseja estudar e quais matérias</p>
                </div>
                <div class="border-2 rounded-lg py-2 px-4 inline-flex gap-2 items-center border-primary-600 bg-neutral-900 text-neutral-50">
                    <img src="/image/icones/calendar.svg" alt="Calendar Icon" class="w-6">
                    <p id="diasemana"></p>
                </div>
            </div>
            <div class="flex justify-center text-neutral-50"> 
                <div class="w-[40%]">
                    <form id="taskform" class="flex flex-col w-full">
                        <select id="periodo" class="flex w-full bg-neutral-900 h-full p-4 rounded-lg border-2 border-neutral-800 text-center text-2xl font-bold">
                            <option value="">Períodos de estudo</option>
                            <option value="manhã">Manhã</option>
                            <option value="tarde">Tarde</option>
                            <option value="noite">Noite</option>
                        </select>
                        <div id="timet" class="grid grid-rows-2 gap-4 p-4 items-center w-full text-center text-xl">
                            <div class="justify-between">
                                <div class="relative">
                                    <input id="horacomeco" required type="time" class="bg-neutral-900 text-neutral-50 focus:outline-none w-full p-2 rounded-lg border-2 border-neutral-800">
                                </div>
                            </div>
                            <div class="justify-between">
                                <div class="relative">
                                    <input id="horatermino" required type="time" class="bg-neutral-900 text-neutral-50 focus:outline-none placeholder-neutral-500 w-full p-2 rounded-lg border-2 border-neutral-800">
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-rows-2 gap-4 p-4 items-center w-full text-center text-xl">
                            <div class="justify-between">
                                <input id="assunto" required placeholder="Assunto" type="text" class="bg-neutral-900 text-neutral-50 focus:outline-none placeholder-neutral-500 w-full p-2 rounded-lg border-2 border-neutral-800">
                            </div>
                            <div class="justify-between">
                                <input id="descricao" required placeholder="Descrição" type="text" class="bg-neutral-900 text-neutral-50 focus:outline-none placeholder-neutral-500 w-full p-2 rounded-lg border-2 border-neutral-800">
                            </div>
                        </div>
                        <button id="savebutton" type="submit" class="mt-4 bg-primary-600 text-white py-2 px-4 rounded-lg hover:bg-primary-700 transition duration-300">
                            Salvar Tarefa
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/tasks.js"></script>
    <script src="/js/day.js"></script>
</body>
</html>
