<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="bg-neutral-950 flex flex-row">
        <%- include('../partials/sidebar') %>
        <section class="px-24 flex flex-col h-screen w-[92vw] gap-6 py-12">
            <!--faaaalaaa sinissstrooo-->
            <div class="flex flex-row justify-between text-neutral-50">
                <div class="flex-col">
                    <h2 class="text-4xl font-bold">ORGANIZADOR DE TAREFAS</h2>
                    <p>Escolha quando você deseja estudar e quais matérias</p>
                </div>
                <button class="border-2 rounded-lg py-2 px-4 inline-flex gap-2 items-center">
                    <i class="fa-solid fa-arrow-down"></i>
                  Dia da semana 
                </button>
            </div>
            <div class="flex justify-between text-neutral-50"> 

                <div class="flex-col w-[40%]">
                    <details class="w-full text-center items-center justify-center rounded-lg bg-neutral-900 pt-2"> 
                        <summary class="list-none">
                            <div class="inline-flex items-center gap-x-2">
                                <img src="/image/icones/task.svg" alt="" class="w-8">
                                <h2 class="text-2xl">Periodo de estudo</h2>
                            </div>
                        </summary>
                        <div class="flex-col flex gap-y-6 w-full h-fit bg-neutral-950/25 rounded-lg">
                            <button>Manhã</button>
                            <button>Tarde</button>
                            <button>Noite</button>
                        </div>
                    </details>
                    <div class="">
                        
                    </div>
                </div>


                <div class="flex-col w-[40%]">
                    <details class="w-full text-center bg-neutral-900 rounded-lg py-3">
                        <summary class="list-none">
                            <div class="inline-flex items-center">
                                <img src="/image/icones/task.svg" alt="" class="w-8">
                                <h3 class="text-2xl">área de estudo</h2>
                            </div>
                        </summary>
                        <div class="flex-col flex gap-y-6 w-full h-fit bg-neutral-950/25 rounded-lg">
                            <button>Matematica</button>
                            <button>Português</button>
                            <button>Filosia</button>
                            <button>Quimica</button>
                            <button>Biologia</button>
                            <button>Historia</button>
                            <button>Geografia</button>
                        </div>
                    </details>
                    <div class="m-8 flex justify-beetwen">
                        Geometria 
                        </div>
                         <!--funçôes
                        Baskhara
                        Pitagoras
                        Aritimeticas
                        Analise Combinatorias -->
                    </div>
                </div>

            </div> 
        </section>
    </main>
</body>
</html>